<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listado de Clientes</title>
</head>
<body>


<div class="container">
    <h3>costumers</h3>
    <div class="col-md-12">
        <a th:href="@{/costumers/add}" class="btn btn-primary">Agregar Cliente</a>
    </div>

    <div th:switch="costumers" >
        <div th:case="*">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">iD</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Fecha registro</th>
                    <th scope="col">Login Status</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Tarjeta Credito</th>
                    <th scope="col">Balance de cuenta</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="costumer: ${costumers}">
                    <th scope="row" th:text="${costumer.userid}" ></th>
                    <td th:text="${costumer.email}"></td>
                    <td id="pass" th:text="${costumer.password}"></td>
                    <td th:text="${costumer.registerDate}"></td>
                    <td th:text="${costumer.loginStatus}"></td>
                    <td th:text="${costumer.costumerName}"></td>
                    <td th:text="${costumer.address}"></td>
                    <td th:text="${costumer.creditCardInfo}"></td>
                    <td th:text="${costumer.accountBalance}"></td>

                    <td class="text-right">
                        <div class="btn-group">

                            <a th:href="@{/costumers/edit/{id}
                                    (id=${costumer.userid})}"
                               class="btn btn-primary btn-sm">Editar</a>

                            <a th:href="@{/costumers/delete/{id}
                                (id=${costumer.userid})}"
                               class="btn btn-danger btn-sm">Eliminar</a>

                        </div>
                    </td>

                </tr>
                </tbody>

            </table>


        </div>

    </div>


</div>

<script>
    $(document).ready(function(){
            $("#1").replaceWith("******");
    });
</script>

</body>
</html>