<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listado de Alumnos</title>
</head>
<body>


<div class="container">
    <h3>Agregar Cliente</h3>

    <div>
        <form action="#" th:action="@{/costumers/update/{id} (cartId=${costumer.userid})}" th:object="${costumer}" method="post">
            <div class="form-group">
                <label for="userid">id</label>
                <input type="text" class="class-controller form-control"
                       id="userid" placeholder="Ingrese email"
                       th:field="*{userid}" disabled>
            </div>

            <div class="form-group">
                <label for="email">password</label>
                <input type="email" class="class-controller form-control"
                        id="email" placeholder="Ingrese email"
                       th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="costumerName">nombre</label>
                <input type="text" class="class-controller form-control"
                       id="costumerName" placeholder="Ingrese nombre"
                       th:field="*{costumerName}">
            </div>
            <div class="form-group">
                <label for="address">direccion</label>
                <input type="text" class="class-controller form-control"
                       id="address" placeholder="Ingrese direccion"
                       th:field="*{address}">
            </div>
            <div class="form-group">
                <label for="creditCardInfo">tarjeta</label>
                <input type="text" class="class-controller form-control"
                       id="creditCardInfo" placeholder="Ingrese creditCardInfo"
                       th:field="*{creditCardInfo}">
            </div>
            <div class="form-group">
                <label for="accountBalance">balance</label>
                <input type="text" class="class-controller form-control"
                       id="accountBalance" placeholder="Ingrese balance"
                       th:field="*{accountBalance}">
            </div>
            <button class="btn btn-primary btn-lg btn-block">Guardar</button>
        </form>
    </div>
</div>
</body>
</html>
