<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Listado de Alumnos</title>
</head>
<body>


<div class="container">
    <h3>Listado de Alumnos</h3>
    <div class="col-md-12">
    </div>
    <a href="/customers/login">
        <button class="btn btn-danger btn-lg btn-block">Login</button>
    </a>
    <a href="/costumers">
        <button class="btn btn-success btn-lg btn-block">Customers</button>
    </a>
    <a href="/shoppingCarts">
        <button class="btn btn-danger btn-lg btn-block">Shopping Carts</button>
    </a>
    <a href="/productos">
        <button class="btn btn-information btn-lg btn-block">Productos</button>
    </a>
    <a href="/users">
        <button class="btn btn-primary btn-lg btn-block">Users</button>
    </a>
</div>



</body>
</html>